/*CSS Style*/

#container {
    height: 433px;
    width: 448px;
    margin: 70px auto 30px auto;
}

.wrapper {
    height: 432px;
    width: 26px;
    border: 1px solid blue;
    display: inline-block;
}

.box {
    height: 25px;
    width: 25px;
    border: 1px dashed blue;
}

#reset {
    width: 398px;
    height: 70px;
    margin: 0px auto;
}

button {
    height: 70px;
    width: 399px;
    border: 2px solid red;
    font-size: 25px;
    border-radius: 20px;
    background-color: #FFF;
}
button:hover {
    background-color: #FE2E2E;
    color: #FFF;
    opacity: 0.7;
}